.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 3598px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  width: 726px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  width: 548px;
  margin: 16px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 31px 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 651px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-group-1 {
  min-height: 591px;
  width: 664px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 23px 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  margin: 30px 0 0 30px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 24px 0 0 30px;
}

.u-section-1 .u-text-5 {
  margin: 17px 1px 0 30px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 41px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-image-1 {
  height: 470px;
  object-position: 50% 30.4%;
  width: 435px;
  margin: -530px auto 60px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 565px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-group-2 {
  width: 663px;
  min-height: 506px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  margin: 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 24px 0 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  margin: 18px 0 0;
}

.u-section-1 .u-social-icons-2 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 40px auto 0 244px;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-icon-6 {
  height: 100%;
}

.u-section-1 .u-image-2 {
  height: 470px;
  object-position: 100% 28.91%;
  width: 435px;
  margin: -488px 0 18px auto;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 533px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-group-3 {
  width: 663px;
  min-height: 327px;
  margin: 73px auto 0 417px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  margin: 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 24px 0 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-text-11 {
  margin: 18px 0 0;
}

.u-section-1 .u-social-icons-3 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 74px;
  min-width: 42px;
  margin: 94px auto 0;
}

.u-section-1 .u-icon-7 {
  height: 100%;
}

.u-section-1 .u-icon-8 {
  height: 100%;
  color: rgb(168, 224, 255) !important;
}

.u-section-1 .u-image-3 {
  height: 470px;
  width: 435px;
  margin: -398px 645px 0 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: -3770px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 530px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-group-4 {
  width: 663px;
  min-height: 332px;
  margin: 69px auto 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-12 {
  text-transform: uppercase;
  margin: 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 21px 0 0;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-text-14 {
  margin: 26px 0 0;
}

.u-section-1 .u-social-icons-4 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 94px auto 0;
}

.u-section-1 .u-icon-9 {
  height: 100%;
  color: rgb(168, 224, 255) !important;
}

.u-section-1 .u-image-4 {
  height: 470px;
  width: 435px;
  margin: -401px 0 0 auto;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 530px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-group-5 {
  width: 663px;
  min-height: 393px;
  margin: 38px 0 0 auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 30px 26px;
}

.u-section-1 .u-text-15 {
  text-transform: uppercase;
  margin: 0;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 25px 0 0;
}

.u-section-1 .u-btn-4 {
  padding: 0;
}

.u-section-1 .u-text-17 {
  margin: 15px 0 0;
}

.u-section-1 .u-social-icons-5 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 40px auto 0;
}

.u-section-1 .u-icon-10 {
  height: 100%;
  color: rgb(168, 224, 255) !important;
}

.u-section-1 .u-image-5 {
  height: 470px;
  width: 435px;
  margin: -432px auto 0 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 530px;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-group-6 {
  width: 663px;
  min-height: 371px;
  margin: 50px auto 0 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px 30px 28px;
}

.u-section-1 .u-text-18 {
  text-transform: uppercase;
  margin: 0;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 25px 0 0;
}

.u-section-1 .u-btn-5 {
  padding: 0;
}

.u-section-1 .u-text-20 {
  margin: 16px 0 0;
}

.u-section-1 .u-social-icons-6 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 40px auto 0;
}

.u-section-1 .u-icon-11 {
  height: 100%;
  color: rgb(168, 224, 255) !important;
}

.u-section-1 .u-icon-12 {
  height: 100%;
  color: rgb(168, 224, 255) !important;
}

.u-section-1 .u-icon-13 {
  height: 100%;
}

.u-section-1 .u-image-6 {
  height: 470px;
  width: 435px;
  object-position: 100% 12.83%;
  margin: -420px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3860px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 801px;
  }

  .u-section-1 .u-group-1 {
    min-height: 766px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 232px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 232px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 233px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-right: 143px;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(168, 224, 255) !important;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(168, 224, 255) !important;
  }

  .u-section-1 .u-image-1 {
    margin-top: -605px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 663px;
  }

  .u-section-1 .u-group-2 {
    width: 664px;
    min-height: 602px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 27px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 204px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 204px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 204px;
  }

  .u-section-1 .u-social-icons-2 {
    margin-left: 142px;
  }

  .u-section-1 .u-icon-4 {
    color: rgb(168, 224, 255) !important;
  }

  .u-section-1 .u-icon-6 {
    color: rgb(168, 224, 255) !important;
  }

  .u-section-1 .u-image-2 {
    margin-top: -536px;
    margin-bottom: 66px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 530px;
  }

  .u-section-1 .u-group-3 {
    width: 664px;
    min-height: 268px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 216px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 20px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-left: 205px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 25px;
    margin-left: 205px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-left: 205px;
  }

  .u-section-1 .u-social-icons-3 {
    margin-top: 44px;
    margin-right: 163px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -369px;
    margin-right: 445px;
    margin-bottom: -101px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-bottom: -6265px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 521px;
  }

  .u-section-1 .u-group-4 {
    width: 664px;
    min-height: 275px;
    margin-top: 0;
    margin-right: 216px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-bottom: 29px;
    padding-left: 25px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-right: 205px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 24px;
    margin-right: 205px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 19px;
    margin-right: 205px;
    margin-left: 5px;
  }

  .u-section-1 .u-social-icons-4 {
    margin-top: 42px;
    margin-left: 189px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -372px;
    margin-bottom: -97px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 553px;
  }

  .u-section-1 .u-group-5 {
    width: 664px;
    min-height: 494px;
    margin-top: 0;
    margin-left: 216px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-bottom: 28px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-left: 205px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-left: 205px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-left: 205px;
  }

  .u-section-1 .u-social-icons-5 {
    margin-right: 184px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -482px;
    margin-bottom: 12px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 533px;
  }

  .u-section-1 .u-group-6 {
    min-height: 472px;
    margin-top: 0;
    margin-right: 217px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-right: 203px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-right: 203px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-right: 203px;
  }

  .u-section-1 .u-social-icons-6 {
    margin-left: 142px;
  }

  .u-section-1 .u-image-6 {
    object-position: 50% 13.98%;
    margin-top: -471px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5926px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 29px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1146px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1088px;
    width: 660px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-4 {
    width: 402px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 521px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 26px;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -948px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1035px;
  }

  .u-section-1 .u-group-2 {
    min-height: 975px;
    width: 660px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-6 {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    width: 400px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: 520px;
    margin-right: 0;
  }

  .u-section-1 .u-social-icons-2 {
    margin-top: 25px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -861px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 809px;
  }

  .u-section-1 .u-group-3 {
    min-height: 749px;
    width: 660px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-9 {
    width: 399px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-10 {
    width: 399px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-11 {
    margin-top: 520px;
    margin-left: 0;
  }

  .u-section-1 .u-social-icons-3 {
    margin-top: 26px;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    margin: -636px auto 0;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-bottom: -3112px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 813px;
  }

  .u-section-1 .u-group-4 {
    min-height: 754px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-bottom: 30px;
    padding-left: 20px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-13 {
    width: 397px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-14 {
    margin-top: 520px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-social-icons-4 {
    margin-top: 27px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: -639px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 938px;
  }

  .u-section-1 .u-group-5 {
    min-height: 879px;
    width: 660px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-10 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-15 {
    width: 399px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-16 {
    width: 399px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-17 {
    margin-top: 521px;
    margin-left: 0;
  }

  .u-section-1 .u-social-icons-5 {
    margin-top: 25px;
    margin-right: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: -765px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 929px;
  }

  .u-section-1 .u-group-6 {
    min-height: 868px;
    width: 660px;
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-19 {
    width: 400px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-20 {
    margin-top: 522px;
    margin-right: 0;
  }

  .u-section-1 .u-social-icons-6 {
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    margin-top: -749px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6103px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 31px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1198px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1133px;
    width: 520px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    width: 392px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -1004px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1061px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    min-height: 379px;
    width: 520px;
    margin-top: 2px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -882px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 813px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    width: 520px;
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -630px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-bottom: -5607px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 815px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 48px;
    margin-right: 48px;
  }

  .u-section-1 .u-text-14 {
    width: 399px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: -634px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 990px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-5 {
    min-height: 446px;
    width: 520px;
    margin-top: 2px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -811px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 968px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-6 {
    min-height: 901px;
    margin-top: 5px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-social-icons-6 {
    margin-top: 25px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -786px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6091px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 29px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1375px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1314px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 380px;
  }

  .u-section-1 .u-image-1 {
    height: 346px;
    margin-top: -1204px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1120px;
  }

  .u-section-1 .u-group-2 {
    min-height: 1060px;
    width: 320px;
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-6 {
    width: 300px;
  }

  .u-section-1 .u-text-7 {
    width: 300px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 380px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 346px;
    margin-top: -950px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 697px;
  }

  .u-section-1 .u-group-3 {
    min-height: 636px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-9 {
    width: 300px;
  }

  .u-section-1 .u-text-10 {
    width: 300px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 380px;
  }

  .u-section-1 .u-image-3 {
    height: 346px;
    margin-top: -527px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-bottom: -5106px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 700px;
  }

  .u-section-1 .u-group-4 {
    min-height: 639px;
    width: 320px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding-bottom: 29px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    width: 300px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 380px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    height: 346px;
    margin-top: -528px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 998px;
  }

  .u-section-1 .u-group-5 {
    min-height: 939px;
    width: 320px;
    margin-top: 1px;
  }

  .u-section-1 .u-text-15 {
    width: 300px;
  }

  .u-section-1 .u-text-16 {
    width: 300px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 381px;
  }

  .u-section-1 .u-image-5 {
    height: 346px;
    margin-top: -830px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 947px;
  }

  .u-section-1 .u-group-6 {
    min-height: 866px;
    width: 320px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    width: 300px;
  }

  .u-section-1 .u-text-19 {
    width: 300px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 380px;
  }

  .u-section-1 .u-image-6 {
    height: 346px;
    margin-top: -776px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 {
  background-image: none;
  min-height: 1869px;
}

.u-section-2 .u-group-1 {
  min-height: 312px;
  margin: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  width: 726px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  width: 548px;
  margin: 12px auto -5px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -123px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 639px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 350px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-group-2 {
  width: 285px;
  min-height: 265px;
  margin: -50px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  margin: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 24px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 17px 0 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 31px auto 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 639px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 350px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-group-3 {
  width: 285px;
  min-height: 265px;
  margin: -50px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  margin: 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 24px 0 0;
}

.u-section-2 .u-text-8 {
  margin: 17px 0 0;
}

.u-section-2 .u-social-icons-2 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 31px auto 0;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 639px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 350px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-group-4 {
  width: 285px;
  min-height: 265px;
  margin: -50px auto 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-text-9 {
  text-transform: uppercase;
  margin: 0;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 24px 0 0;
}

.u-section-2 .u-text-11 {
  margin: 8px 0 0;
}

.u-section-2 .u-social-icons-3 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 74px;
  min-width: 42px;
  margin: 17px auto 0;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-layout-wrap-2 {
  width: 1140px;
  margin: -4px auto 60px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 217px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-group-5 {
  width: 285px;
  min-height: 265px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-text-12 {
  text-transform: uppercase;
  margin: 0;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 24px 0 0;
}

.u-section-2 .u-text-14 {
  margin: 17px 0 0;
}

.u-section-2 .u-social-icons-4 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 58px auto 0;
}

.u-section-2 .u-icon-5 {
  height: 100%;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 217px;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px;
}

.u-section-2 .u-group-6 {
  width: 285px;
  min-height: 265px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px;
}

.u-section-2 .u-text-15 {
  text-transform: uppercase;
  margin: 0;
}

.u-section-2 .u-text-16 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 24px 0 0;
}

.u-section-2 .u-text-17 {
  margin: 17px 0 0;
}

.u-section-2 .u-social-icons-5 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 31px auto 0;
}

.u-section-2 .u-icon-6 {
  height: 100%;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 217px;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px;
}

.u-section-2 .u-group-7 {
  width: 285px;
  min-height: 265px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px;
}

.u-section-2 .u-text-18 {
  text-transform: uppercase;
  margin: 0;
}

.u-section-2 .u-text-19 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 24px 0 0;
}

.u-section-2 .u-text-20 {
  margin: 17px 0 0;
}

.u-section-2 .u-social-icons-6 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 58px auto 0;
}

.u-section-2 .u-icon-7 {
  height: 100%;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 217px;
}

.u-section-2 .u-container-layout-14 {
  padding: 30px;
}

.u-section-2 .u-group-8 {
  width: 285px;
  min-height: 265px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-15 {
  padding: 30px;
}

.u-section-2 .u-text-21 {
  text-transform: uppercase;
  margin: 0;
}

.u-section-2 .u-text-22 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 24px 0 0;
}

.u-section-2 .u-text-23 {
  margin: 17px 0 0;
}

.u-section-2 .u-social-icons-7 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 58px auto 0;
}

.u-section-2 .u-icon-8 {
  height: 100%;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 217px;
}

.u-section-2 .u-container-layout-16 {
  padding: 30px;
}

.u-section-2 .u-group-9 {
  width: 285px;
  min-height: 265px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-17 {
  padding: 30px;
}

.u-section-2 .u-text-24 {
  text-transform: uppercase;
  margin: 0;
}

.u-section-2 .u-text-25 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 24px 0 0;
}

.u-section-2 .u-text-26 {
  margin: 17px 0 0;
}

.u-section-2 .u-social-icons-8 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 58px auto 0;
}

.u-section-2 .u-icon-9 {
  height: 100%;
}

.u-section-2 .u-layout-cell-9 {
  min-height: 217px;
}

.u-section-2 .u-container-layout-18 {
  padding: 30px;
}

.u-section-2 .u-group-10 {
  width: 285px;
  min-height: 265px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-19 {
  padding: 30px;
}

.u-section-2 .u-text-27 {
  text-transform: uppercase;
  margin: 0;
}

.u-section-2 .u-text-28 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 24px 0 0;
}

.u-section-2 .u-text-29 {
  margin: 17px 0 0;
}

.u-section-2 .u-social-icons-9 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 58px auto 0;
}

.u-section-2 .u-icon-10 {
  height: 100%;
}

.u-section-2 .u-layout-cell-10 {
  min-height: 217px;
}

.u-section-2 .u-container-layout-20 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-11 {
  min-height: 217px;
}

.u-section-2 .u-container-layout-21 {
  padding: 30px;
}

.u-section-2 .u-group-11 {
  width: 285px;
  min-height: 265px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-22 {
  padding: 30px;
}

.u-section-2 .u-text-30 {
  text-transform: uppercase;
  margin: 0;
}

.u-section-2 .u-text-31 {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 24px 0 0;
}

.u-section-2 .u-text-32 {
  margin: 17px 0 0;
}

.u-section-2 .u-social-icons-10 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 58px auto 0;
}

.u-section-2 .u-icon-11 {
  height: 100%;
}

.u-section-2 .u-layout-cell-12 {
  min-height: 217px;
}

.u-section-2 .u-container-layout-23 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 1993px;
  }

  .u-section-2 .u-group-1 {
    min-height: 363px;
    margin-top: -15px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: 75px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 16px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 527px;
  }

  .u-section-2 .u-image-1 {
    height: 277px;
  }

  .u-section-2 .u-group-2 {
    width: 253px;
    margin-top: 23px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 527px;
  }

  .u-section-2 .u-image-2 {
    height: 277px;
  }

  .u-section-2 .u-group-3 {
    width: 253px;
    margin-top: 23px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 527px;
  }

  .u-section-2 .u-image-3 {
    height: 277px;
  }

  .u-section-2 .u-group-4 {
    width: 253px;
    margin-top: 23px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 940px;
    margin-top: -8px;
    margin-bottom: -280px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 179px;
  }

  .u-section-2 .u-group-5 {
    width: 253px;
    margin-top: 23px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 179px;
  }

  .u-section-2 .u-group-6 {
    width: 253px;
    margin-top: 23px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 179px;
  }

  .u-section-2 .u-group-7 {
    width: 253px;
    margin-top: 23px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 179px;
  }

  .u-section-2 .u-group-8 {
    width: 253px;
    margin-top: 23px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 179px;
  }

  .u-section-2 .u-group-9 {
    width: 253px;
    margin-top: 23px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 179px;
  }

  .u-section-2 .u-group-10 {
    width: 253px;
    margin-top: 23px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 179px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 179px;
  }

  .u-section-2 .u-group-11 {
    width: 253px;
    margin-top: 23px;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 179px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 1086px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 197px;
  }

  .u-section-2 .u-group-2 {
    width: 180px;
    min-height: 300px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 197px;
  }

  .u-section-2 .u-group-3 {
    width: 180px;
    min-height: 365px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-3 {
    height: 197px;
  }

  .u-section-2 .u-group-4 {
    width: 180px;
    min-height: 365px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 720px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 425px;
  }

  .u-section-2 .u-group-5 {
    min-height: 365px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 425px;
  }

  .u-section-2 .u-group-6 {
    min-height: 365px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-11 {
    padding-bottom: 29px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 425px;
  }

  .u-section-2 .u-group-7 {
    width: 180px;
    min-height: 365px;
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 447px;
  }

  .u-section-2 .u-group-8 {
    width: 180px;
    min-height: 365px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 447px;
  }

  .u-section-2 .u-group-9 {
    width: 180px;
    min-height: 365px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 447px;
  }

  .u-section-2 .u-group-10 {
    width: 180px;
    min-height: 365px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 448px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 448px;
  }

  .u-section-2 .u-group-11 {
    width: 180px;
    min-height: 365px;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 448px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 5140px;
  }

  .u-section-2 .u-group-1 {
    min-height: 421px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 779px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 550px;
    width: 430px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-2 {
    min-height: 241px;
    margin-top: -60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 779px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 550px;
    width: 430px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-3 {
    min-height: 241px;
    margin-top: -60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 788px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
  }

  .u-section-2 .u-image-3 {
    height: 569px;
    margin-top: 65px;
  }

  .u-section-2 .u-group-4 {
    min-height: 219px;
    margin-top: -60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-7 {
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 540px;
    margin-top: 49px;
    margin-bottom: -3237px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 316px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-5 {
    min-height: 250px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-12 {
    width: auto;
  }

  .u-section-2 .u-text-13 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 326px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-6 {
    min-height: 265px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-16 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 321px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-7 {
    min-height: 264px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 29px;
  }

  .u-section-2 .u-text-19 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 325px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-8 {
    width: 520px;
    min-height: 265px;
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-22 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 322px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-9 {
    width: 520px;
    min-height: 265px;
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-25 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 324px;
  }

  .u-section-2 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-10 {
    width: 520px;
    min-height: 265px;
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-28 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 1021px;
  }

  .u-section-2 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 323px;
  }

  .u-section-2 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-11 {
    width: 520px;
    min-height: 265px;
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-31 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 1021px;
  }

  .u-section-2 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 5036px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -10px;
    min-height: 423px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 45px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -180px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 409px;
    width: 320px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 409px;
    width: 320px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 564px;
  }

  .u-section-2 .u-image-3 {
    height: 350px;
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 340px;
    margin-top: 169px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 327px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 325px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-group-8 {
    width: 300px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 146px;
  }

  .u-section-2 .u-group-9 {
    width: 300px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 146px;
  }

  .u-section-2 .u-group-10 {
    width: 300px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 643px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-2 .u-group-11 {
    width: 300px;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 643px;
  }
}